{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Email envoyé{% endblock %}

{% block body %}
    <video autoplay muted loop class="myVideo">
        <source src="{{ asset('assets/vid/login-black.mp4') }}" type="video/mp4">
    </video>
    <div class="request-content">
    <p>
        Un email a été envoyé avec un lien pour réinitialiser votre mot de passe
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si aucun email n'est reçu, vérifiez les pourriels ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
    </div>
{% endblock %}
