{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <video autoplay muted loop class="myVideo">
        <source src="{{ asset('assets/vid/login-black.mp4') }}" type="video/mp4">
    </video>
    <div class="request-content">
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="button">Reset password</button>
    {{ form_end(resetForm) }}</div>
{% endblock %}
