{% extends 'base.html.twig' %}

{% block title %}{{  parent() }} | Full list!{% endblock %}


{% block body %}
    {% set i = 1 %}
    {% set j = 1 %}

    <div class="grid-container fluid app-meeting-list">
        <div class="grid-x grid-margin-x">

            <fieldset class="cell small-12 medium-3">
                {% include 'meeting/filter.html.twig' with {form: form} only %}
            </fieldset>

            {% include 'meeting/detail.html.twig' %}

            {% include 'meeting/full-list.html.twig' %}

        </div>
    </div>
{% endblock %}

