{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
{# -------------------------------------- ORBIT PART --------------------------------------  #}
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
        <div class="orbit-wrapper">
            <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
            </div>
            <ul class="orbit-container">
                <li class="is-active orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image app-bg-img" src="{{ asset('assets/img/bg/orange.jpg') }}" alt="Photo d'une soirée du 20/08/2019">
                        <figcaption class="orbit-caption">Soirée du 20/08/2019</figcaption>
                        <span class="hero-text">Organisez des rencontres inoubliables</span>
                    </figure>
                </li>
                <li class="orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image app-bg-img" src="{{ asset('assets/img/bg/purple.jpg') }}" alt="Photo d'une soirée du 12/01/2019">
                        <figcaption class="orbit-caption">Soirée du 12/01/2019</figcaption>
                        <span class="hero-text">Vous vous souviendrez de ces soirées</span>
                    </figure>
                </li>
            </ul>
        </div>
        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0">
                <span class="show-for-sr">First slide details.</span>
                <span class="show-for-sr" data-slide-active-label>Current Slide</span>
            </button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        </nav>
    </div>

{% endblock %}
