body, html {
    height: 100%;
}

body{
    background: ivory;
    font-family: 'Cambria', "Times New Roman", serif;
}
.top-bar,h1,h2,h3,h4,h5,h6{
    font-family: 'Squada One', cursive;
}

/*LOGIN PAGE CSS */

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.sign-in-form {
    margin: 6%;
    padding: 1rem 1.5em;
    border-radius: .5rem;
    background-color: darkgray;
    position: relative;
}

.sign-in-form h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.sign-in-form label {
    text-transform: uppercase;
    color: antiquewhite;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;

}

.sign-in-form input {
    color: black;
}

.sign-in-form input:focus {
    opacity: .8;
}

.sign-in-form-username,
.sign-in-form-password {
    border-radius: 30px;
    color: antiquewhite;
    border: none;
    opacity: .8;
    transition: all ease .4s;
}

.sign-in-form-button {
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
}

.sign-in-form-button:hover {
    background-color: #44c8ed;
    border-color: #44c8ed;
}





/* PROFILE PAGE CSS */

.profile-display{
    padding: 2%;
    margin: 6%;
}
.profile-display-button{
    align-self: center;
}






/* MEETINGS CSS */

.add-box{
    border-color: black;
    border-width: 10px;
    border-style: solid;
}

.app-meeting-list{
    padding: 5%;
    margin: 0 3% 0 3%;
}

.app-meeting-list-subtitle{
    padding: 5%;
    margin: 0 3% 0 3%;
    font-size: 0.8rem;
}

.app-meeting-information{
    border-style: solid;
    border-color: antiquewhite;
    border-width: 0.1rem;
    border-radius: 2%;
}

.app-meeting-choice{
    border-width: 1rem;
    border-radius: 2%;

}

.app-meeting-checkboxes{
    margin-bottom: 80px;
}

.checkbox-text-meeting{
    margin: 1%;
    padding: 1%;
    color: black;
    height: 50px;
}

.app-meeting-filter{
    width: 100%;
}

/* MODIFY PROFILE CSS */


.app-modify-profile-box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    max-width: 600px;
    padding: 5px;
    border-width: 2px;
    border-style:solid;
    border-color: #b78846;}
.box-inner {
    position: relative;
    border: 2px solid #b78846;
    padding: 50px;
}

/** LOGIN CSS **/
/* Style the video: 100% width and height to cover the entire window */
.myVideo {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}

/* Add some content at the bottom of the video/page */
.login-content {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

.request-content {
    width: 400px;
    height: 400px;
    color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 2%;
}



/*PLACE CSS */

.app-add-place{
    color: wheat;
}

