{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/groups.css') }}">
<div class="grid-container ">
    <div class="grid-x app-group">

<div>test add members</div>
    </div>
{% endblock %}

