{% extends 'base.html.twig' %}

{% block title %}Hello GroupController!{% endblock %}

{% block body %}

    <div class="grid-container">
        <div class="grid-x">
            {% for g in groups %}

                <div class="cell small-3">
                    <a href="{{ path('group_add_members',{'id':g.id}) }}"><h1>{{ g.name }}</h1></a>
                    {% for p in g.members %}
                    <h4>{{ p }}</h4>
                    {% endfor %}
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
