{% extends 'base.html.twig' %}

{% block title %}Hello GroupController!{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('assets/css/groups.css') }}">
    <div class="grid-container ">
        <div class="grid-x app-group">
            {% for g in groups %}

                {% include 'group/card.html.twig' %}

            {% endfor %}
        </div>
    </div>
{% endblock %}
